version: '3'
services:
  postgres-db:
    image: postgres:15
    container_name: discodeit
    environment:
      POSTGRES_USER: discodeit_user
      POSTGRES_PASSWORD: discodeit1234
      POSTGRES_DB: discodeit
    ports:
      - "5432:5432"
    volumes:
      - db_discodeit_data:/var/lib/postgresql/data

volumes:
  db_discodeit_data: