spring:
  application:
    name: discodeit
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
discodeit:
  storage:
    type: ${STORAGE_TYPE:local}
    local:
      root-path: ${STORAGE_LOCAL_ROOT_PATH:./storage}
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

management:
  info:
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /actuator
    health:
      show-details: always

aws:
  accessKeyId: ${AWS_S3_ACCESS_KEY:your-access-key}
  secretKey: ${AWS_S3_SECRET_KEY:your-secret-key}
  region: ${AWS_S3_REGION:ap-northeast-2}
  s3:
    bucket: ${AWS_S3_BUCKET:your-bucket-name}
    expiration: ${AWS_S3_PRESIGNED_URL_EXPIRATION:600}


info:
  app:
    name: Discodeit
    version: 1.7.0
    java-version: 17
  datasource:
    url: ${spring.datasource.url}
    driver-class-name: ${spring.datasource.driver-class-name}
  jpa:
    ddl-auto: ${spring.jpa.hibernate.ddl-auto}
  storage:
    type: ${discodeit.storage.type}
    path: ${discodeit.storage.local.root-path}
  multipart:
    max-file-size: ${discodeit.servlet.multipart.max-file-size}
    max-request-size: ${discodeit.servlet.multipart.max-request-size}
server:
  port: 80
