<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- 패턴 정의 -->
  <property name="LOGBACK_PATTERN"
    value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %-36logger [%X{requestId} | %X{requestMethod} | %X{requestUrl}] - %msg%n"/>

  <!-- 콘솔 로그만 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOGBACK_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <!-- 루트 로거: 콘솔에만 기록 -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>